---
---

@import "minimal-light";


.navigation-wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 2em 0 3em;

    font-family: 'PT Sans Narrow',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.site-name {
    margin: 0 auto;
    width: 100%;
    display: inline;
    float: left;
    width: 83.33333333333334%;
    margin-left: 8.333333333333334%;
    margin-right: 8.333333333333334%;
    margin-bottom: 1em;
}

.top-navigation {
    margin: 0 auto;
    width: 100%;
    display: inline;
    float: left;
    width: 83.33333333333334%;
    margin-left: 8.333333333333334%;
    margin-right: 8.333333333333334%;
    margin-bottom: 1em;
}

.top-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-navigation li {
    list-style-type: none;
    display: inline;
    margin-right: 25px;
}
.links{
	
    color: #043361 ;
}
.top-navigation li a {
    decoration: none;
    border-bottom: 0 solid transparent;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.top-navigation-current {
    text-decoration: overline;
}

#main {
    counter-reset: captions;
    margin: 0 auto;
    width: 100%;
    *zoom:1;clear: both;
    margin-top: 1em;
}


.mfp-fade .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.mfp-fade.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.mfp-fade.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.mfp-fade.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-fade.mfp-removing.mfp-bg {
    opacity: 0;
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
        position: static !important;
    }

    @page {
        margin: 0.5cm;
    }

    h2,h3 {
        orphans: 3;
        widows: 3;
        page-break-after: avoid;
    }

    p {
        orphans: 3;
        widows: 3;
    }

    pre,blockquote {
        border: 1px solid #333;
        page-break-inside: avoid;
        padding: 1em;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a,a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    a[href^="javascript:"]:after,a[href^="#"]:after {
        content: "";
    }

    img {
        max-width: 100% !important;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr {
        page-break-inside: avoid;
    }
}

@media only screen and (min-width: 30em) {
    .image-grid li {
        width:33.333333%;
    }
}

@media only screen and (min-width: 37.5em) {
    html {
        font-size:95%;
    }

    .site-name {
        display: inline;
        float: left;
        width: 16.666666666666668%;
        margin-left: 4.166666666666667%;
        margin-right: 4.166666666666667%;
    }

    .top-navigation {
        display: inline;
        float: left;
        width: 75%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .image-wrap .headline-wrap,.image-wrap:after {
        left: 25%;
    }

    .image-wrap .headline-wrap {
        margin-left: 0;
    }

    #main article {
        display: inline;
        float: left;
        width: 50%;
        margin-left: 0%;
        margin-right: 0%;
    }

    #index {
        display: inline;
        float: left;
        width: 50%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .footer-wrap footer {
        display: inline;
        float: left;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .article-author-top {
        display: block;
        display: inline;
        float: left;
        width: 16.666666666666668%;
        margin-left: 4.166666666666667%;
        margin-right: 4.166666666666667%;
    }

    .article-author-bottom {
        display: none;
    }

    .toc {
        display: block;
        display: inline;
        float: left;
        width: 16.666666666666668%;
        margin-left: 4.166666666666667%;
        margin-right: 4.166666666666667%;
        position: fixed;
        top: 120px;
        right: 0;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .image-grid li {
        width: 25%;
    }

    .related-articles {
        display: inline;
        float: left;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media only screen and (min-width: 48em) {
    html {
        font-size:100%;
    }

    .image-grid li {
        width: 20%;
    }
}

@media only screen and (min-width: 62em) {
    html {
        font-size:112.5%;
    }

    .image-grid li {
        width: 16.666666666%;
    }
}

@media only screen and (min-width: 86.375em) {
    .site-name {
        display:inline;
        float: left;
        width: 12.5%;
        margin-left: 16.666666666666668%;
    }

    .top-navigation {
        display: inline;
        float: left;
        width: 66.66666666666667%;
    }

    .image-wrap:after {
        left: 33.333333333%;
    }

    .image-wrap .headline-wrap {
        margin-left: 8.333333333333334%;
    }

    #main article {
        display: inline;
        float: left;
        width: 37.5%;
    }

    #index {
        display: inline;
        float: left;
        width: 37.5%;
    }

    .related-articles {
        display: inline;
        float: left;
        width: 37.5%;
        margin-left: 33.333333333333336%;
        margin-right: 29.166666666666668%;
    }

    .footer-wrap footer {
        display: inline;
        float: left;
        width: 37.5%;
        margin-left: 33.333333333333336%;
        margin-right: 29.166666666666668%;
    }

    .article-author-top {
        display: inline;
        float: left;
        width: 12.5%;
        margin-left: 16.666666666666668%;
    }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
}
